body {
    background-color: palevioletred;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: rgb(175, 64, 64);
}


footer {
    background-color: rgb(250, 38, 73);
}

p {
    color: rgb(255, 142, 142);
}